<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="my_dispatcherBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8008/" binding="basicHttpBinding"
                bindingConfiguration="my_dispatcherBinding" contract="minidsgnsvc.my_dispatcherPortType"
                name="my_dispatcher" />
        </client>
    </system.serviceModel>
</configuration>